@{
Layout = "_Layout";
}

<h1>University Registrar</h1>

<h3>Courses</h3>
<button onclick="window.location.href='/courses'">View Courses</button>
<button onclick="window.location.href='/courses/new'">Add a new course</button>
<br>
<h3>Students</h3>
<button onclick="window.location.href='/students'">View Students</button>
<button onclick="window.location.href='/students/new'">Add a new student</button>
