@{
Layout = "_Layout";
}
<h1>Add a new student</h1>
<form class="form-group" action='/students' method='post'>
    <label>Full Name
        <input type="text" name="newName" class="form-control" required>
    </label>
    <label>Enrollment Date
        <input type="date" name="newDate" class="form-control" required>
    </label>
    <button class="btn" type="submit">Submit</button>
</form>